/*
 * TITLE:   Come creare un sistema di votazione con CSS
 * AUTHOR:  Code4Life
 * WEBSITE: https://code4life.it/
 * ARTICLE: https://code4life.it/guide/come-creare-un-sistema-di-votazione-con-css/
 */
 
/* Required snippet style */
input[name="rating"] { display: none; }
input[name="rating"] + label:after { content: none; }
input[name="rating"] + label { font-family: 'FontAwesome'; }
input[name="rating"] + label:before {
    background-color: transparent;
    border: none !important;
    color: #ffc107;
    content: '\f005';
    font-size: 1.33333333em;
    transition: none;
}
input[name="rating"]:checked ~ label:before {
    background-color: transparent;
    border: none !important;
    color: #607d8b;
}
input[name="rating"]:checked + label:before { color: #ffc107; }
input[name="rating"] + label:hover ~ input + label:before { opacity: 0.6; }
 
 /* Demo style only */
.demo-content { margin-bottom: 70px; text-align: center; }

/* Credits */
@import url( 'https://fonts.googleapis.com/css?family=Roboto:300' );
.credits { background: #F3F5F6; border: solid 1px #CFD6D9; bottom: 0; left: 0; padding: 10px; position: fixed; right: 0; text-align: center; z-index: 1000; }
.btn-credits { border: 2px solid #33b5e5; border-radius: 10em; color: #33b5e5 !important; display: inline-block; font-family: 'Roboto', sans-serif; font-size: .8rem; line-height: 1.25; padding: .85rem 2.13rem;  text-decoration: none; text-transform: uppercase; transition: .2s ease-out; vertical-align: middle; }
.btn-credits:hover { background-color: #33b5e5; color: #fff !important; }